body {
  font-family: "Poppins";
}
.carousel-indicators li {
  display: inline-block;
  margin-top: 50%;
  border-radius: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: lightgrey;
}
.carousel-indicators .active {
  background-color: orange;
}
.buy-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 25px;
  cursor: pointer;
  font-weight: bold;
}
.carousel p {
  color: dimgray;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}
.card-title {
  font-weight: 700;
}
.phones p {
  color: dimgray;
}
.price {
  font-weight: 700;
}
.phones {
  margin-top: 100px;
}
.div-title {
  margin-bottom: 15px;
}
.div-title h3 {
  font-weight: 700;
}
.div-title a {
  font-weight: 700;
  color: orange;
}
